<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form #form="ngForm" (ngSubmit)="signup(form.value)" ngForm>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" placeholder="Username" class="form-control" 
            id="username" name="username" [(ngModel)]="user.username">
        </div>
        <div class="form-group">
          <div for="password">Password</div>
          <input type="password" id="password" 
            class="form-control" placeholder="Password" 
            name="password" [(ngModel)]="user.password">
        </div>
        <div class="form-group">
          <label>Dietary Preferences:</label>
          <div *ngFor="let pref of dietPreferences; let i = index;">
            <label [for]="pref.name" class="checkbox-inline">
              <input type="checkbox" [id]="pref.name" name="preference" (change)="onPrefCheck(i)">
              {{ pref.name }}
            </label>
          </div>
        </div>
        <div class="error alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="form-group">
          <button class="btn btn-default" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>